<!doctype html>
<html lang="en">

<head>

  <!-- Webpage Title -->
  <title>Hello, world!</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- 구글폰트 -->
  <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

  <!-- style -->
  <style type="text/css">
    * {
      font-family: 'Stylish', sans-serif;
    }

    .wrap {
      width: 500px;
      margin: auto;
      text-align: center;
    }

    .image {
      background-image: url('https://funshop.akamaized.net/products/0000057354/vs_image800.jpg');
      background-size: cover;
      background-position: center;
      width: 500px;
      height: 300px;

    }

    .text {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    h2,
    h5 {
      display: inline;
    }

    .button {
      text-align: center;
    }

    .order {
            text-align: center;
        }

        .order_result {
            margin-top: 100px;
        }

        .meta_info {
            width: 20%;
        }

  </style>


  <script>
    function AlertFocus() {
      let name = $('#InputName').val()
      let qtty = $('#InputQtty').val()
      let address = $('#InputAddress').val()
      let Phone = $('#InputPhone').val()

      if (name == '') {
        alert("이름을 입력하세요.")
        $('#InputName').focus();
        return name;

      } else if (qtty == '') {
        alert("수량을 선택하세요.")
        $('#InputQtty').focus();
        return qtty;
      }
      else if (address == '') {
        alert("주소를 입력하세요.")
        $('#InputAddress').focus();
        return address;

      }
      else if (Phone == '') {
        alert("전화번호를 입력하세요.")
        $('#InputPhone').focus();
        return Phone;
      }

      $.ajax({
                type: "POST",
                url: "/orders",
                data: { name_give: name, qtty_give: qtty, address_give: address, Phone_give: Phone },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        $('#name').val('');
                        $('#qtty').val('');
                        $('#address').val('');
                        $('#Phone').val('');
                        window.location.reload();
                    }
                }
            })
        }

        $(document).ready(function () {
            $('#orders-box').html();
            listing();
        });
        
        function listing() {
            $.ajax({
                type: "GET",
                url: "/orders",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let orders = response['orders'];
                        for (let i = 0; i < orders.length; i++) {
                            make_card(orders[i]['name'], orders[i]['qtty'], orders[i]['address'],orders[i]['Phone']);
                        }
                    } else {
                        alert('주문을 받아오지 못했습니다');
                    }
                }
            })
        }

        function make_card(name, qtty, address, Phone) {
            let temp_html = '<tr>\
                                <td>'+ name + '</td>\
                                <td>'+ qtty + '</td>\
                                <td>'+ address + '</td>\
                                <td>'+ Phone + '</td>\
                            </tr>';
            $('#orders-box').append(temp_html);
        }
  </script>

</head>

<body>
  <div class=wrap>
    <div class="image"></div>
    <div class=text>
      <h2>KF94 마스크</h2>
      <h5>가격:30,000원/개</h5>
      <p>약국에서 줄서지 말고 집에서 KF94 마스크 받아보세요.</p>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">주문자 이름</span>
      </div>
      <input id="InputName" type="text" class="form-control" placeholder="이름을 입력하세요" aria-label="이름을 입력하세요"
        aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">수량</label>
      </div>
      <select class="custom-select" id="InputQtty">
        <option selected value>-- 수량을 선택하세요 --</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">주소</span>
      </div>
      <input id="InputAddress" type="text" class="form-control" placeholder="주소를 입력하세요" aria-label="주소를 입력하세요"
        aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">전화번호</span>
      </div>
      <input id="InputPhone" type="text" class="form-control" placeholder="전화번호를 입력하세요" aria-label="전화번호를 입력하세요"
        aria-describedby="basic-addon1">
    </div>

    <div class="button">
      <button id="buttonID" type="button" class="btn btn-primary" onclick="order_listing()" onclick="AlertFocus()">주문하기</button>
    </div>

    <div class="order_result">
      <table class="table">
          <thead>
              <tr>
                  <th class="meta_info" scope="col">주문자 이름</th>
                  <th class="meta_info" scope="col">수량</th>
                  <th scope="col">주소</th>
                  <th scope="col">전화번호</th>
              </tr>
          </thead>
          <tbody id="orders-box">
          </tbody>
      </table>
  </div>


</body>

</html>